<div class="container">
<h1>Contacts list</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Action</th>
        <th>&nbsp;</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ></td>
            <td><input class="form-control" ></td>
            <td>
            <input class="form-control" ></td>
            <td><button class="btn btn-primary" ng-click="">Add Contact</button></td>
            <td><button class="btn btn-info" ng-click="">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="">Clear</button></td>
        </tr>
        <tr ng-repeat="contact in contactlist">
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.number}}</td>
            <td><button class="btn btn-danger" ng-click="">Remove</button>
            </td>
            <td><button class="btn btn-warning" ng-click="">Edit</button></td>
            
        </tr>
    </tbody>
</table>

</div>